@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Quicksand:wght@300&display=swap');

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: linear-gradient(rgba(10,10,10,.8),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
  url('../Images/Index/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
}



